<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>

        <strong>Name:</strong> {{ your_name }}<br>
        <strong>Phone number:</strong> {{ your_phone }}<br>
        <strong>Email:</strong> {{ your_email }}<br>
        <strong>Address:</strong> {{ your_address }}<br>
        <strong>Scheldule:</strong> {{ your_scheldule }}<br>
        <strong>Date:</strong> {{ your_date }} <br>
        <strong>Message:</strong> {{ your_message }}<br>
</body>
</html>