{% extends 'base.html' %}

{% load static i18n %}

{% block meta_description %}
    {{ article.meta }}
{% endblock %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block content %}

    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay"
         style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h2 class="title">Blog Details</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> {% trans 'Главная' %}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->


    <!-- ****** Blog Area Start ******* -->
    <section class="dento--blog-area mt-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mb-100">
                    <!-- Blog Details Area -->
                    <div class="blog-details-area">
                        <img src="{% static 'website/img/bg-img/24.jpg' %}" alt="">

                        <h2 class="post-title">{{ post.title }}</h2>
                        <div class="post-meta">
                            <a href="#"><i class="icon_clock_alt"></i> {{ post.created|date:'j N o' }}</a>
                            <a href="#comments"><i class="icon_chat_alt"></i> {{ post.comment.all.count }} Comments</a>
                        </div>


                        <p>{{ article.text }}</p>
                        <p>Donec tempor, lorem et euismod elefend, est lectus laoreet ante, sed acusan justo diam nec
                            tincidunt interdum ante consectetur dapibus molestie utsalism eleifend metus lacus nec
                            neque. Donec pellentesque nisl nec ligula tempor congue.
                            Nullam rutrum nunc and dapibus interdum. Nunc accumsan dictum mollis. Morbi ac convallis
                            sem, a venenatis lacus. Phasellus in massa in ligula placerat tempus. Quisque id egestas
                            odio, eget accumsan odio. Nunc vel turpis viverra quam
                            imperdiet pellentesque. Nunc vitae sapien eu lorem convallis cursus nec lectus. Praesent
                            cursus ornare lacus ac aliquet.</p>
                        <p>Vestibulum vel ante a quam consectetur volutpat eu a felis. Nullam non dui quis massa
                            condimentum porttitor non ut nisi. Maecenas congue scelerisque purus, eget molestie ligulan
                            volutpatut. Integer artor miss, cursussed efficitur non,
                            consequat a diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos. Nulla facilisi. Integer vel ullamcorper neque. Quisque convallis ante
                            purus, eget congutor ultrices. Orci varius natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean anunc massa
                            venenatis ullamcorper. Mauris ipsum tellus, faucibus massa non, dapibus suscipit orci.</p>
                        <blockquote cite="" class="dento-blockquote d-flex">
                            <div class="icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="text">
                                <h5>Good dental care doesn't make you a good student, but if your tooth hurts, it's hard
                                    to be a good student</h5>
                                <h6>Geoffrey Canada / <span>Social Activist</span></h6>
                            </div>
                        </blockquote>
                        <p>Proin venenatis elementum pretium. Vivamus mollis iaculis mi, a efficitur turpis maximus non.
                            Sed felis sapien, aliquam eu nunc in, tempus interdum turpis. In in porta nulla. Maecenas ut
                            elit nec nibh vehicula auctor eget felis. Nulla
                            finibus dictum augue ullamcorper. Integer nuamcorper lorem sit down amet dignissim
                            tincidunt.
                            Utsu risus feugiat, scelerisque turpis eu, suscipit orci. Fusce indo diam ipsum. Nulla
                            facilisi class aptent taciti
                            litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <img src="{% static 'website/img/bg-img/25.jpg' %}" alt="">
                        <p>Nunc vitae nisl porttitor, consectetur sapien vel, vulputate orci. Sed viverra, neque action
                            lacinia hendrerit, lectus purus pellentesque dui, eu porttitor enim neque vitae magna. Nunc
                            nec eros nonta risus vestibulum feugiat. In
                            semper tempor sem, eget porttitor dolor convallis sit amet. Praesent ut justo augue.
                            Curabitur id elit nisi. Vivamus varius lacus sit amet nisi lacinia, sed pulvinar odio
                            rhoncus. In sagittis aliquet tellus. Nulla pellentesque, risus
                            vitae porta iaculis, metus tortor cursus felis, at porta odio lorem nonsa mauris. Nullam
                            mattis nulla blandit sapien cursus, quis luctus ex volutpat. Vestibulum santa dui nulla, sed
                            feugiat felis hendrerit euro. Praesent in lobortis
                            orci, vitae finibus tortor. Aliquam nisl sapien, posuere ac accumsan scelerisque, eleifend
                            quis dui, quisque cursus congue nibh pretium blandit.</p>
                    </div>

                    <!-- Post Share  -->
                    <div class="post-share-area mb-30">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i> Share</a>
                        <a href="#" class="tweet"><i class="fa fa-twitter"></i> Tweet</a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i> Share</a>
                        <a href='#' class="tweet" data-toggle="modal" data-target="#exampleModal"><i
                                class="fa fa-envelope"></i> Share</a>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form action="{% url 'share_post' post.slug %}" method="post">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Share</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        {% csrf_token %}
                                        <div class="row">
                                            {% csrf_token %}
                                            <div class="row centered">
                                                <div class="col-lg-12">
                                                    {{ share_form.name }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ share_form.to }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn dento-btn">Share</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Comments Area -->
                    <div class="comment_area clearfix" id="comments">
                        <h5 class="title">{{ post.comment.all.count }} Comments</h5>

                        <ol>
                            {% for comment in post.comment.all %}



                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="{% static 'website/img/bg-img/26.jpg' %}" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">{{ comment.name }} /
                                                <span>{{ comment.created|date:"j N o," }} at {{ comment.created|time:"f" }}</span></a>
                                            <p>{{ comment.body }}</p>
                                            <a href="#" class="comment-reply">Reply</a>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="{% static 'website/img/bg-img/27.jpg' %}" alt="author">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                    <a href="#" class="post-author">Samantha Harvey / <span>28 Sep 2018 at 10:30 am</span></a>
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown
                                                        ameto,
                                                        consectetur, adipisci velit, sed quiata non numqua eius modi
                                                        tempor
                                                        incidunt ut labore.</p>
                                                    <a href="#" class="comment-reply">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            {% endfor %}


                            <!-- Leave A Reply -->
                            <div class="contact-form mt-30">
                                <h5 class="mb-30">Leave A Reply</h5>

                                <form action="{% url 'send_comment' post.slug %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Form -->
                                            {{ comment_form.name }}
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Form -->
                                            {{ comment_form.email }}
                                        </div>
                                        <div class="col-12">
                                            {{ comment_form.body }}
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn dento-btn">Reply</button>
                                        </div>
                                    </div>
                                </form>

                            </div>


                    </div>
                </div>

                <!-- Dento Sidebar Area -->
                <div class="col-12 col-lg-4">
                    <div class="dento-sidebar">

                        <!-- Single Widget Area -->
                        <div class="single-widget-area search-widget">
                            <form action="#" method="post">
                                <input type="search" name="search" class="form-control" placeholder="Search ...">
                                <button type="submit"><i class="icon_search"></i></button>
                            </form>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area catagories-widget">
                            <h5 class="widget-title">Categories</h5>

                            <!-- catagories list -->
                            <ul class="catagories-list">
                                <li><a href="#">Dentistry Articles</a></li>
                                <li><a href="#">Oral Health</a></li>
                                <li><a href="#">Dental Technology</a></li>
                                <li><a href="#">Kids Care Dental</a></li>
                                <li><a href="#">Healthy Smiles, Inside &amp; Out</a></li>
                            </ul>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area news-widget">
                            <h5 class="widget-title">Similar Posts</h5>
                            {% for similar_post in similar_posts %}
                                <!-- Single News Area -->
                                <div class="single-news-area d-flex align-items-center">
                                    <div class="blog-thumbnail">
                                        <img src="{{ similar_post.image.url }}" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <a href="{% url 'article_detail' similar_post.slug %}"
                                           class="post-title">{{ similar_post.title }}</a>
                                        <span class="post-date">{{ similar_post.created|date:'j N o' }}</span>
                                    </div>


                                </div>
                            {% endfor %}

                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area adds-widget">
                            <a href="#"><img class="w-100" src="{% static 'website/img/bg-img/adds.png' %}" alt=""></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Blog Area End ******* -->

{% endblock %}